* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/*----------TASK-1----------------*/
#categories {
  background-color: rgb(255, 255, 255);
  padding: 24px; 
  width: 440px;
}

.item {
  background-color: rgb(246, 246, 254);
  width: 392px;
  display: block;
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 8px;
}

#categories h2 {
  margin-bottom: 16px;
    margin-top: 0;
    font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.item ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px; 
}

.item ul > li {
    max-width: 360px;
    width: 100%;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 0 8px 16px;
    color: rgb(46, 47, 66);
}

/*----------TASK-2----------------*/

.gallery {
  max-width: 1440px;
  background-color: rgb(255, 255, 255);
  display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    list-style-type: none;
    padding: 100px 50px;
    margin: 0 auto;
}

/*----------TASK-3----------------*/

#name-input {
  max-width: 360px;
    width: 100%;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 0 8px 16px;
    color: rgb(46, 47, 66);
}

/*----------TASK-4----------------*/
.login-form {
  display: flex;
  flex-direction: column;
  width: 408px;
  gap: 8px; 
  background-color: rgb(255, 255, 255);
}

.login-form label {
    display: flex;
    flex-direction: column;
}

.login-form input {
    max-width: 360px;
    width: 100%;
    height: 40px;
}

.login-form button {
  border-radius: 8px;
  width: 88px;
  background-color: rgb(78, 117, 255);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding: 8px 16px;
  cursor: pointer;
}


/*----------TASK-5----------------*/

.widget {
  background-color: rgb(255, 255, 255);
  width: 345px;
  height: 280px;
  padding: 100px 88px;
}

.change-color {
  width: 148px;
  background-color: rgb(78, 117, 255);
  padding: 8px 16px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 8px;
  margin-top: 16px;
}

.widget p {
  color: rgb(46, 47, 66);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}


/*----------TASK-6----------------*/

#controls {
  display: flex;
  gap: 16px;
  width: 488px;
  border-radius: 8px;
  background-color: rgb(246, 246, 254);
  padding: 32px;
  margin-bottom: 16px;
}

input[type="number"] {
    width: 150px;
    padding: 8px 50px;
    border-radius: 8px;
    background-color: rgb(246, 246, 254);
    border: 1px solid rgb(128, 128, 128);
}

button[data-create] {
  width: 120px;
  background-color: rgb(78, 117, 255);
  border-radius: 8px;
  padding: 8px 30px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

button[data-destroy] {
  background-color: rgb(255, 78, 78);
  width: 120px;
  border-radius: 8px;
  padding: 8px 26px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  border-style: none;
}

#boxes {
    width: 486px;
    height: 160px;
    background-color: rgb(246, 246, 254);
    display: flex;
    padding: 32px;
    border-radius: 8px;
}


